/* app.css */
/* Estilos a las tarjetas y layout de productos */
.itemlist {
  text-align: center;
  padding: 2rem;
}

.itemlist h3 {
  font-size: 2rem;
  color: #5a8d46;
}
.item-card img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  border-radius: 6px;
}
